* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    box-sizing: content-box;
    border: 3px solid black;
}
